In [1]:
import pandas as pd
from pathlib import Path

In [2]:
population_2017 = Path("Resources_3/zip_pop_2017.csv")
population_2018 = Path("Resources_3/zip_pop_2018.csv")
population_2019 = Path("Resources_3/zip_pop_2019.csv")
population_2020 = Path("Resources_3/zip_pop_2020.csv")
population_2021 = Path("Resources_3/zip_pop_2021.csv")
population_2022 = Path("Resources_3/zip_pop_2022.csv")
cities = Path("Resources_3/zips_with_cities.csv")

In [3]:
data_2017 = pd.DataFrame(pd.read_csv(population_2017))
data_2018 = pd.DataFrame(pd.read_csv(population_2018))
data_2019 = pd.DataFrame(pd.read_csv(population_2019))
data_2020 = pd.DataFrame(pd.read_csv(population_2020))
data_2021 = pd.DataFrame(pd.read_csv(population_2021))
data_2022 = pd.DataFrame(pd.read_csv(population_2022))

In [4]:
city_zip = pd.DataFrame(pd.read_csv(cities, delimiter =";"))
city_zip = city_zip['Zip Code'].str.split(';', expand=True)
city_zip = city_zip.iloc[:, :4]
city_zip.columns = ['Zip Code', 'City', 'State', 'State Name']
city_zip['Zip Code'] = city_zip['Zip Code'].apply(lambda x: x.zfill(5))
city_zip = city_zip.set_index('Zip Code')
city_zip.to_csv("city_zip.csv", index = True)

In [5]:
data_2017 = data_2017.drop(0).drop(columns=['GEO_ID', 'B01003_001M']).rename(columns={'NAME': 'Zip Code', 'B01003_001E': '2017'})
data_2018 = data_2018.drop(0).drop(columns=['GEO_ID', 'B01003_001M']).rename(columns={'NAME': 'Zip Code', 'B01003_001E': '2018'})
data_2019 = data_2019.drop(0).drop(columns=['GEO_ID', 'B01003_001M']).rename(columns={'NAME': 'Zip Code', 'B01003_001E': '2019'})
data_2020 = data_2020.drop(0).drop(columns=['GEO_ID', 'B01003_001M']).rename(columns={'NAME': 'Zip Code', 'B01003_001E': '2020'})
data_2021 = data_2021.drop(0).drop(columns=['GEO_ID', 'B01003_001M']).rename(columns={'NAME': 'Zip Code', 'B01003_001E': '2021'})
data_2022 = data_2022.drop(0).drop(columns=['GEO_ID', 'B01003_001M']).rename(columns={'NAME': 'Zip Code', 'B01003_001E': '2022'})

In [6]:
data_2017['Zip Code'] = data_2017['Zip Code'].str.replace('ZCTA5 ', '')
data_2018['Zip Code'] = data_2018['Zip Code'].str.replace('ZCTA5 ', '')
data_2019['Zip Code'] = data_2019['Zip Code'].str.replace('ZCTA5 ', '')
data_2020['Zip Code'] = data_2020['Zip Code'].str.replace('ZCTA5 ', '')
data_2021['Zip Code'] = data_2021['Zip Code'].str.replace('ZCTA5 ', '')
data_2022['Zip Code'] = data_2022['Zip Code'].str.replace('ZCTA5 ', '')

In [7]:
data_2017 = data_2017.set_index('Zip Code')
data_2018 = data_2018.set_index('Zip Code')
data_2019 = data_2019.set_index('Zip Code')
data_2020 = data_2020.set_index('Zip Code')
data_2021 = data_2021.set_index('Zip Code')
data_2022 = data_2022.set_index('Zip Code')

In [8]:
data_2017

           2017
Zip Code
00601     17599
00602     39209
00603     50135
00606      6304
00610     27590
...         ...
99923         0
99925       901
99926      1684
99927        59
99929      2455

[33120 rows x 1 columns]

In [9]:
first_merge = pd.merge(city_zip, data_2017, on = 'Zip Code')
second_merge = pd.merge(first_merge, data_2018, on = 'Zip Code')
third_merge = pd.merge(second_merge, data_2019, on = 'Zip Code')
fourth_merge = pd.merge(third_merge, data_2020, on = 'Zip Code')
fifth_merge = pd.merge(fourth_merge, data_2021, on = 'Zip Code')
us_zip_pop = pd.merge(fifth_merge, data_2022, on = 'Zip Code')
us_zip_pop = us_zip_pop.sort_index()
us_zip_pop.to_csv('us_zip_pop.csv', index = True)
us_zip_pop

,City,State,State Name,2017,2018,2019,2020,2021,2022
Zip Code,,,,,,,,,
00601,Adjuntas,PR,Puerto Rico,17599,17242,17113,16773,17126,16834
00602,Aguada,PR,Puerto Rico,39209,38442,37751,37083,37895,37642
00603,Aguadilla,PR,Puerto Rico,50135,48814,47081,45652,49136,49075
00606,Maricao,PR,Puerto Rico,6304,6437,6392,6231,5751,5590
00610,Anasco,PR,Puerto Rico,27590,27073,26686,26502,26153,25542
...,...,...,...,...,...,...,...,...,...
99923,Hyder,AK,Alaska,0,15,14,12,13,25
99925,Klawock,AK,Alaska,901,927,908,990,917,920
99926,Metlakatla,AK,Alaska,1684,1635,1654,1582,1445,1465
99927,Point Baker,AK,Alaska,59,38,0,0,11,14
99929,Wrangell,AK,Alaska,2455,2484,2502,2509,2161,2133

In [10]:
us_city_pop = us_zip_pop.reset_index()
us_city_pop = us_city_pop.drop(columns = 'Zip Code')
us_city_pop['City, State'] = us_city_pop['City'] + ', ' + us_city_pop['State Name']
us_city_pop = us_city_pop[['City, State', 'State', '2017', '2018', '2019', '2020', '2021', '2022']]
us_city_pop[['2017', '2018', '2019', '2020', '2021', '2022']] = us_city_pop[['2017', '2018', '2019', '2020', '2021', '2022']].apply(pd.to_numeric, errors='coerce')
us_city_pop = us_city_pop.sort_values("City, State")

In [11]:
us_city_total = us_city_pop.groupby('City, State').sum().reset_index()
us_city_total['State'] = us_city_total['State'].str[:2]
us_city_total.to_csv('us_city_total4.csv', index = False)